@model ProfeModel;

@{
    ViewData["Title"] = "Listado de Profesores";

    DateTime hoy=new DateTime(2024,05,17);
}

<h2>@DateTime.Now </h2>
<i>Fecha en el que se realizo @hoy.ToLongDateString()</i>

<center><h1 class="display-2">Listado de profesores</h1>
<h3><center>@Model.Nombre da la materia de @Model.Carrera</center></h3>

<center><img src="~/imagenes/profesor.jpg" width="400" height="300"></center><br>

<br><label>Esto es una prueba para profesores</label>
</center>
<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
